.error-view
  margin 30px auto
  padding 20px 30px 20px 80px
  box-sizing border-box
  h1
    margin 0
    font-size 3em
  .msg
    list-style-type none
    padding 0
    line-height 2em
  a
    color #3eaf7c

@media (max-width 600px)
  .error-view
    padding 20px 30px 20px 30px
