@require '../../lib/style/theme.styl'

.item-view-header
  padding 1.8em 2em 1em
  box-shadow 0 1px 2px rgba(0,0,0,.1)
  h1
    font-size 1.5em
    margin 0
    margin-right .5em
    color #3eaf7c
  .labels, .meta, .meta a
    color #828282
  .meta a
    text-decoration underline
  .labels
    padding-right .4em
    line-height 2em

.content
  border 0
  img
    max-width 100%

@media (max-width 600px)
  .item-view-header
    h1
      font-size 1.25em